* {
    font-family: 'Inria Sans', system-ui;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
}

.gen-btn {
    background-color: #395536;
    color: #F4F4F4;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
}

.gen-btn:hover {
    background-color: #4B7247;
    transition: 0.1s;
}