* {
    font-family: 'Inria Sans', system-ui;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
}

.gen-btn {
    background-color: #395536;
    color: #F4F4F4;
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    border: none;
}

.gen-btn:hover {
    background-color: #4B7247;
    transition: 0.1s;
}

.tippy-box[data-theme~="custom"] {
    background-color: #FFD5A4;
    color: black;
}

.tippy-box[data-theme~="custom"] .tippy-arrow {
    color: #ffd5a4;
}

.tip {
    color: #638D5F;
    font-weight: 700;
}

.swal-modal {
    background-color: #F4F4F4;
    border-radius: 10px;
}

.swal-text {
    color: black;
}

.swal-guide .swal-text {
    font-size: 24px;
    text-align: center;
    padding: 5px 20px;
}

.swal-text .swal-help-page {
    text-align: left;
    font-size: 20px;
}

.swal-footer {
    text-align: center;
}

.swal-title {
    color: #31524B;
    border-bottom: 3px solid #31524B;
}

.swal-title:first-child {
    margin: 10px 40px 20px 40px;
}

.swal-button {
    border: none;
    border-radius: 0;
    color: black;
    width: 150px;
    margin: auto 5px;
    font-size: 18px;
    font-weight: 400;
}

.swal-button--confirm {
    background-color: #A1E49A;
}

.swal-button--confirm:not([disabled]):hover {
    background-color: #78c46f;
    transition: 0.1s;
}

.swal-button--cancel {
    background-color: #F98787;
}

.swal-button--cancel:not([disabled]):hover {
    background-color: #e56464;
    transition: 0.1s;
}

.swal-button--close, .save-btn {
    background-color: #cccccc;
}

.swal-button--close:not([disabled]):hover, .save-btn:not([disabled]):hover {
    background-color: #b2b2b2;
    transition: 0.1s;
}

@media only screen and (min-width: 1024px) {
    .page {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

@media only screen and (min-width: 769px) {
    .content{
        padding: 0 50px;
    }
}

.content,
.content-page {
    display: flex;
    flex-direction: column;
}

.gen-input {
    padding: 15px;
    font-size: 24px;
    background-color: #F4F4F4;
    border:none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}