* {
    font-family: 'Inria Sans', system-ui;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
}

.gen-btn {
    background-color: #395536;
    color: #F4F4F4;
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
}

.gen-btn:hover {
    background-color: #4B7247;
    transition: 0.1s;
}

.tippy-box[data-theme~="custom"] {
    background-color: #FFD5A4;
    color: black;
}

.tippy-box[data-theme~="custom"] .tippy-arrow {
    color: #ffd5a4;
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
  }
  
.content {
    /* padding: 0 50px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content-page {
    padding: 0 50px; 
    height: 100%;
    display: flex;
    flex-direction: column;
}
  /* Question.css */
.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #31524B;
    font-size: 24px;
    background-color: #afd3b1; 
    border-top: 3px solid #31524B; 
    flex-wrap: wrap; /* Allow items to wrap onto the next row */

  }
 
  .question:last-child {
    border-bottom: 3px solid #31524B; 
     /* Adjust the color and size as needed */
  }
  
  .question-content {
    flex: 1;
  }
  
  .question-expand button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #31524B;
  }
  
  .question-details:active {
    width: 100%; 
    border-top: 3px solid #31524B; 
  }
    
  input{
    border:none;
    font-size: 24px;
    color: #31524B;
    background-color: #F4F4F4;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afd3b1; 
    width: 100%;
    height: 10%;
  }
  
  .footer-button {
    background-color: #4B7247;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .footer-button:hover {
    background-color: #4B7247;
    transition: 0.1s;
  }
