.navigation {
    height: 100vh;
    padding: 0 10px;
    background-color: #638D5F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    text-align: center;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding: 15px;
    border-top: 2px solid #F4F4F4;
}

.nav-item:last-child {
    border-bottom: 2px solid #F4F4F4;
}

.active-link {
    background-color: #4B7247;
}

.nav-item:hover {
    background-color: #4B7247;
    transition: 0.1s;
}

.help-nav {
    cursor: pointer;
}

.expanded-nav {
    border-top: 2px solid #F4F4F4;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 15px;
}

.expanded-nav-item {
    text-decoration: none;
    color: white;
    padding: 7px 0;
}

.expanded-nav-item:hover {
    background-color: #4B7247;
    transition: 0.1s;
}

.avatar-side {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 10px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}