@media only screen and (min-width: 480px) {
    .sign-in-form {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .sign-in-form {
        width: 25%;
    }
}

.sign-in-form {
    background-color: #CDE1CB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    padding: 10px 40px;
}

.sign-in-form-label {
    font-size: 24px;
    padding: 25px 0 5px 0;
}

.sign-in-form-input {
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px 15px;
}

.sign-in-form-btn {
    align-self: center;
    width: 45%;
    margin: 30px 0 20px;
}